/* mobilecontainer */
.ui-content.startScreen_clone_1_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobileselectmenu_8 */
.startScreen_clone_1_mobileselectmenu_8 {
	margin: 4px 5px 4px 5px;
}
/* mobileimage_17 */
.startScreen_clone_1_mobileimage_17 {
	margin: 4px 0px 4px 0px;
	width: 287px; height: 100px;
	display: block;
}
/* mobileimage_18 */
.startScreen_clone_1_mobileimage_18 {
	margin: 4px 0px 4px 0px;
	width: 286px; height: 106px;
	display: block;
}
/* mobiletextarea_12 */
.startScreen_clone_1_mobiletextarea_12 {
	margin: 4px 0px 4px 0px;
}
/* mobiletextarea_14 */
.startScreen_clone_1_mobiletextarea_14 {
	margin: 4px 0px 4px 0px;
}
/* mobiletextarea_15 */
.startScreen_clone_1_mobiletextarea_15 {
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_16 */
#startScreen_clone_1_mobilebutton_16 {

}
.ui-btn.startScreen_clone_1_mobilebutton_16 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.startScreen_clone_1_mobilefooter {
	min-height:38px;
}
