/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilebutton_3 */
#startScreen_mobilebutton_3 {

}
.ui-btn.startScreen_mobilebutton_3 {
	margin: 90px 5px 90px 5px;
}
/* mobilebutton_4 */
#startScreen_mobilebutton_4 {

}
.ui-btn.startScreen_mobilebutton_4 {
	margin: 4px 5px 90px 5px;
}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}
